body {
    background-color: rgb(247, 207, 207);
}
.navbar-brand {
    font-weight: 900;
    padding-left: 15%;
}
nav a{
    padding-left: 0.5%;
    padding-right: 0.5%;
}
nav {
    padding: 17px;
}
#inp {
    padding: 2px;
    margin: 2px;
}